<?xml version="1.0" encoding="UTF-8"?>
<beans  xmlns="http://www.springframework.org/schema/beans"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd"
        default-init-method="init"
        default-destroy-method="destroy">

    <bean id = "helloTemplate" abstract="true">
        <property name="message" value="happy"/>
    </bean>

    <bean id = "hello" class = "uti.ro.java.tutorials.hello.Hello"
            parent="helloTemplate">
    </bean>

    <bean id = "textEditor" class = "uti.ro.java.tutorials.texteditor.TextEditor">
        <constructor-arg ref = "spellChecker"/>
    </bean>

    <!-- Definition for spellChecker bean -->
    <bean id = "spellChecker" class = "uti.ro.java.tutorials.texteditor.SpellChecker"/>

    <bean class="uti.ro.java.tutorials.hello.InitHello"/>


</beans>